body {
    text-align: center;
}

h1 {
    color: red;
}
  
  #container {
    display: grid;
    grid-gap: 0.1em;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 60vh;
    height: 60vh;
    margin: auto;
    
    
    
  }
  
  .grid-item {
    
    border: 1px solid black;
   
  }

  @media only screen and (max-width: 450px) {
    #container {
      width: 80vw;
      height: 80vw;
    }
  }