body {
  text-align: center;
  background-color: #ede6e4;
  font-family: monospace;
  font-size: 16px;
}

h1 {
  color: #1d35f0;
  font-size: 2em;
}

#container {
  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  width: 60vh;
  height: 60vh;
  margin: auto;
}

.grid-item {
  background-color: white;
  border: 0.1px solid black;
}

.slider {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#reset {
  padding: 0.2em 1em;
  background-color: #e1edd5;
  color: rgb(247, 0, 0);
  font-weight: bold;
}

footer {
  width: 60vh;
  margin: 2em auto;
}

.footer-wrapper {
  display: flex;
  margin-top: 10px;
  background: #206DF6;
  justify-content: space-between;
  padding: .5em;
  
}

#git-profile {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin: 1em;
  
}

#git-profile:hover {
  background: yellow;
}

a {
  color: white;
  text-decoration: none;
  
}

a:hover {
  color: yellow;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  #container {
    width: 80vw;
    height: 80vw;
  }
  
  footer {
    width: 80vw;
    height: auto;
  }
}
