body {
  text-align: center;
  background-color: #EDE6E4;
  font-family: monospace;
  font-size: 16px;
}

h1 {
  color: #1D35F0;
  font-size: 2em;
}
  
#container {
  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  width: 60vh;
  height: 60vh;
  margin: auto;
    
    
    
}
  
.grid-item {
    
  border: 1px solid black;
   
}

.slider {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}


.color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#reset {
  padding: 0.2em 1em;
  background-color: #E1EDD5;
  color: rgb(247, 0, 0);
  font-weight: bold;
}




@media only screen and (max-width: 450px) {
  #container {
    width: 80vw;
    height: 80vw;
  }
}